<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Wellness Support Center</title>
<link href="homepage.css" rel="stylesheet" type="text/css">
</head>
<style>
	hr {
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-bottom: 5px solid #50A559;
    border-top: 1px solid #f1f1f1;
    margin-bottom: 20px;
    margin-right: 43px;
}

	button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    margin-left: 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    margin-right: 0px;
}
</style>
<body style="background-color: azure;">
<h1 style="color:darkgreen;">Wellness support Center</h1>
<hr>
	<div><ul>
		<button type="submit" class="signupbtn"><a href="file:///C:/Users/prana/Desktop/computer%20science%20woek%20fresno%20state/csci%20150%20project/signin.html">Sign In</a></button>
		<button type="submit" class="signupbtn"><a href="file:///C:/Users/prana/Desktop/computer%20science%20woek%20fresno%20state/csci%20150%20project/signup.html">Sign Up</a></button>
		</ul>
	</div>
	<div><img src="WSC_home.jpg" width="1080" height="350">
	</div>
		
</body>
</html>
