<html>
  {% macro increment(dct, key, inc=1)%}
    {% if dct.update({key: dct[key] + inc}) %} {% endif %}
{% endmacro %}
  <head>
    <title>Diagnose your symptoms</title>
    <h1> Select your symptoms below</h1>
    <!-- <link type="text/css" rel="stylesheet" href="{{url_for('static',filename = 'style/signup.css')}}"> -->
    <link href="{{url_for('static',filename = 'styles/signup.css')}}" rel="stylesheet" type="text/css">
    <style>
	hr {
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-bottom: 5px solid #50A559;
    border-top: 1px solid #f1f1f1;
    margin-bottom: 20px;
    margin-right: 43px;}
</style>
  </head>
  <body >
    {% block results %}
    <!-- {% set num = {'total':0} %} -->
     <!-- This is where the prognosis goes -->
    <form action="{{url_for('diagnosis')}}" method="POST">
    {%for symp in sympList%}
    <!-- {{increment(num,'total')}} -->
    <!-- {%if num.total is divisibleby(5)%} -->
     <!-- {{"<br>"}} -->
    <!-- {%endif%} -->
    <input type="checkbox" name="symps" value={{symp}}>{{symp}} <br>
    <!-- {{num.total}} -->
    {% endfor %}
    <input type="submit" value="Classify Symptoms" id="sub">
    {% endblock results %}
</form>


  </body>
</html>